# Environment Variables
GEMINI_API_KEY=
SUPABASE_URL=https://lzjjwsvalvfkgwtzuime.supabase.co
SUPABASE_KEY=sb_publishable_KxzN2RLPv5Q7nVqDRqPw-w_mi317li6
VITE_SUPABASE_URL=https://lzjjwsvalvfkgwtzuime.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_KxzN2RLPv5Q7nVqDRqPw-w_mi317li6
